<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the DaoImpl bean -->
    <bean id="dao" class="com.boutaina.dao.DaoImpl"/>

    <!-- Define the MetierImpl bean and inject the DaoImpl bean -->
    <bean id="metier" class="com.boutaina.metier.MetierImpl">
        <property name="dao" ref="dao"/>
    </bean>

</beans>